/* Write your code here. */
* {
  margin: 0px;
}
.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 39px;
  text-align: center;
  margin: 5px;
}
.btn {
  font-family: "Roboto";
  font-size: 18px;
  height: 40px;
  width: 100px;
  padding: 5px;
  margin: 9px;
  border-width: 0px;
  border-radius: 9px;
  color: #ffffff;
  font-weight: 400;
}
.like-btn {
  background-color: #eab308;
}
.comment-btn {
  background-color: #ffffff;
  color: #323f4b;
}
.share-btn {
  background-color: #1d4ed8;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-content {
  display: flex;
  flex-direction: row;
}
